.report .btn
{
    margin-left: 100px;
}
.report h2{
  margin-top: 50px;
}
.report-modal .modal-content
{
    height: auto;
    width:500px;
}
.report-modal .modal-header
  {
    background-color: #1976D2;
    color:white;
  }
  .report-modal .modal-title
  {
    text-align: center;
    width: 100%;
    font-size: 25px;
  }
  #fiterIcon
  {
    margin-left: 10px;
  }
  .totalloghours
  {
    height: 50px;
    width: 200px;
  }
  .loghours-modal .modal-header{
    background-color: #1976D2;
    color:white;
  }
  .loghours-modal .modal-content
{
    height: auto;
    width:500px;
}
.hours{
  font-weight: normal;
  color:red;
  margin-left: 10px;
}