.header
{
    background-color: #F8F9FA;
}
.navbarscroll_inner 
{
    width: 100%;
  
}
   @media (max-width: 992px) {
    .navbarscroll_inner
   {
        display: flex;
        flex-direction: column;
      }
    }
    
.nav-link
{
  margin-left: 40px;
  color:black;
  font-weight: 500;
}
.nav-link:hover
{
  color: #1976D2;
font-weight: bold;
  border-bottom: 2px solid black;
}
.changepass-modal .modal-content
{
  height:auto;
}
.changepass-modal .modal-title
{
  text-align: center;
  width: 100%;
  font-size: 25px;
  /* background-color: #1976D2; */
}
.changepass-modal .modal-header
  {
    background-color: #1976D2;
     color:white;
  }
  .header .search
  {
    width:350px;
  }
  .empName
  {
     /* margin-left: 20px; */
     margin-right: -30px;
     margin-top: 9px;
     
  }
  